# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2025 Thomas Duckworth <tduck@filotimoproject.org>
[Desktop Entry]
Name=Restart Plasmashell
Comment=A shortcut to restart the KDE Plasma Shell
Exec=atychia-restart-plasmashell
Icon=system-help
Type=Application
Terminal=false
NoDisplay=true
Categories=Qt;KDE;System;
X-KDE-Shortcuts=Meta+Ctrl+Shift+B
